.App {
  position: relative;
  display: flex;
}
.main {
  position: relative;
  width: 200vw;
  min-height: 100vh;
  position: relative;
  background-image: url(./images/wheresLuffy.png);
  background-position: center left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(23, minmax(20px, 80px));
  grid-template-rows: repeat(15, 80px);
}
/* .clickBox {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 30%);
  border: white 5px dotted;
  border-radius: 50%;
} */
.choiceList {
  color: black;
  background-color: white;
  width: 140px;
  display: flex;
  text-align: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}
.options {
  padding: 10px;
}
.options:hover {
  background-color: rgb(171, 167, 167);
}

header {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.containerItem {
  height: 80px;
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.display {
  border: 5px white solid;
}
.found {
  background-color: rgba(0, 0, 0, 0.3);
  border: 5px black dashed;
}
