@font-face {
  font-family: Kool-Font;
  src: url(./brush-script-mt/brush\ script\ mt\ kursiv.ttf);
}

.App {
  position: relative;
  display: flex;
}
.main {
  position: relative;
  width: 200vw;
  min-height: 100vh;
  position: relative;
  background-image: url(./images/wheresLuffy.png);
  background-position: center left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(23, minmax(20px, 80px));
  grid-template-rows: repeat(15, 80px);
}
/* .clickBox {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 30%);
  border: white 5px dotted;
  border-radius: 50%;
} */
.choiceList {
  color: black;
  background-color: white;
  width: 140px;
  display: flex;
  text-align: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}
.options {
  padding: 10%;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options:hover {
  background-color: rgb(171, 167, 167);
}

.header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 160px;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  box-shadow: 5px, 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.containerItem {
  height: 80px;
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.display {
  border: 5px white solid;
}
.found {
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px black dashed;
  border-radius: 4px;
}

.characterImage {
  width: 50%;
  border-radius: 100%;
}

.foundOption,
.notFoundOption {
  height: 10%;
  display: flex;
  justify-content: center;
}
.notFoundOption {
  opacity: 1;
}
.foundOption {
  opacity: 0.4;
}

.gameTitle {
  font-size: 3.5rem;
  font-family: Kool-Font;
  text-shadow: 5px 5px grey;
  margin-top: 5px;
}

.gameStartDisp,
.gameEndDisp {
  font-family: Kool-Font;
  position: absolute;
  padding: 50px;
  margin-top: 200px;
  left: 40%;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  box-shadow: 5px, 5px rgba(0, 0, 0, 0.3);
}
ul {
  list-style: none;
}

.introImage {
  width: 20%;
  border-radius: 100%;
  height: 92px;
}
li {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.introTitle {
  font-size: 3.5rem;
  font-weight: bold;
}

.startGameBtn {
  font-family: Kool-Font;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: rgb(158, 158, 158);
  margin: 20px;
  padding: 20px;
}

.startGameBtn:hover {
  box-shadow: 5px 5px black;
}

.WrongSelectionDisplay,
.RightSelectionDisplay {
  position: absolute;
  background-color: red;
  color: white;
  text-align: center;
  margin-top: 40vh;
  left: 40%;
  font-size: 5rem;
  font-weight: bold;
  padding: 50px;
  border-radius: 15px;
  font-family: Kool-Font;
  box-shadow: 5px 5px black;
  text-shadow: 2px 2px black;
  z-index: 1;
}

.RightSelectionDisplay {
  background-color: rgb(62, 167, 62);
}
.endgameElement {
  font-weight: 3rem;
}

input {
  width: 150px;
  border-radius: 5px;
}
